*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1540px;
    margin: auto;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #2a1a1d;
}
.cinem_png{
    display: flex;
    align-items: center;

}
.img_png_color{
    color: #fdb94a;
}
.sinema_img{
    width: 100px;
    height: 100px;
}
.a_teg{
    text-decoration: none;
    color: #fdb94a;
}
.a_umumiy{
    display: flex;
    gap: 30px;
}
.input_serch{
    padding-left: 20px;
    width: 300px;
    height: 30px;
    background-color: #fdb94a;
    border-radius: 8px;
    border: none;
}
.burger_img{
    width: 35px;
    height: 35px;
}



